@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    110 North 5th Street<br />
    Madison, WI 53704<br />
</address>

<address>
    <strong>Phone Number:</strong> (608)-556-1220
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ethan.straub@gmail.com">ethan.straub@gmail.com</a>
</address>