<!DOCTYPE html>
@{
    ViewBag.Title = "Home Page";
}

<html>
<body class="container">

    <form action="@Url.Action("Index", "Home")" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_6cDEXb7U4fVzevejZgaA1gDW"
                data-amount="999"
                data-name="Demo Site"
                data-description="Example charge"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
        </script>
    </form>


    

    <!--<h4 class="text-salmon">Spotify Web Playback SDK Template</h4>
    <h4>This app uses the implicit grant authorization flow to get an access token and initialise the Web Playback SDK. It then uses the Spotify Connect Web API to play a song.</h4>
    <p>If everything is set up properly, you should hear some music!</p>

    <h4> TEST TRACK </h4>
    <img id="current-track" />
    <h4 id="current-track-name"></h4>-->

</body>

    
</html>

