<!DOCTYPE html>
@{
    ViewBag.Title = "Home Page";
}

<!--<h1>
    <strong>@ViewBag.Name</strong>'s Profile Image ..

    <img src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
</h1>-->

<!-- SDK testing grounds -->
<html>

<head>
    <title>Spotify Web Playback SDK Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!-- Include the Web Playback SDK -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>

</head>

<body class="container">

    <div class="inputBox">
        <input id="searchInput" name="term" value="">
    </div>

    <!--<input id="toggle" type="button" value="Play/Pause" />-->
    <input id="searchAlbums" type="button" value="Search for albums." />
    <input id="searchArtists" type="button" value="Search for artists." />

    <table id=resultsTable></table>

    <!--<h4 class="text-salmon">Spotify Web Playback SDK Template</h4>
    <h4>This app uses the implicit grant authorization flow to get an access token and initialise the Web Playback SDK. It then uses the Spotify Connect Web API to play a song.</h4>
    <p>If everything is set up properly, you should hear some music!</p>

    <h4> TEST TRACK </h4>
    <img id="current-track" />
    <h4 id="current-track-name"></h4>-->

</body>

    
</html>

<script>

    // Reset search box
    document.getElementById('searchInput').value = ""

    // SDK TEMPLATE
    // Get the hash of the url
    const hash = window.location.hash
        .substring(1)
        .split('&')
        .reduce(function (initial, item) {
            if (item) {
                var parts = item.split('=');
                initial[parts[0]] = decodeURIComponent(parts[1]);
            }
            return initial;
        }, {});
    window.location.hash = '';

    // Set token
    let _token = hash.access_token;

    const authEndpoint = 'https://accounts.spotify.com/authorize';

    // Replace with your app's client ID, redirect URI and desired scopes
    const clientId = 'ddb6bd84d33c42aba1450a177ca0f23e';
    const redirectUri = 'http://localhost:53881/Home/Index/';
    const scopes = [
        'streaming',
        'user-read-birthdate',
        'user-read-private',
        'user-modify-playback-state',
        'user-top-read',
        'user-read-recently-played',
        'user-read-currently-playing',
        'app-remote-control'
    ];

    // If there is no token, redirect to Spotify authorization
    if (!_token) {
        window.location = `${authEndpoint}?client_id=${clientId}&redirect_uri=${redirectUri}&scope=${scopes.join('%20')}&response_type=token&show_dialog=true`;
    }

    // Set up the Web Playback SDK

    window.onSpotifyPlayerAPIReady = () => {
        const player = new Spotify.Player({
            name: 'Web Playback SDK Template',
            getOAuthToken: cb => { cb(_token); }
        });

        // Error handling
        player.on('initialization_error', e => console.error(e));
        player.on('authentication_error', e => console.error(e));
        player.on('account_error', e => console.error(e));
        player.on('playback_error', e => console.error(e));

        // Playback status updates
        player.on('player_state_changed', state => {
            console.log(state)
            $('#current-track').attr('src', state.track_window.current_track.album.images[0].url);
            $('#current-track-name').text(state.track_window.current_track.name);
        });

        // Ready
        player.on('ready', data => {
            console.log('Ready with Device ID', data.device_id);

            // Play a track using our new device ID
            //play(data.device_id);
        });

        // Connect to the player!
        player.connect();

        //var el = document.getElementById("toggle");
        //if (el.addEventListener)
        //   el.addEventListener("click", toggle, false);
        //else if (el.attachEvent)
        //    el.attachEvent('onclick', toggle);

        var searchAlbumBtn = document.getElementById("searchAlbums");
        if (searchAlbumBtn.addEventListener)
            searchAlbumBtn.addEventListener("click", searchAlbums, false);
        else if (el.attachEvent)
            searchAlbumBtn.attachEvent('onclick', searchAlbums);

        var searchArtistBtn = document.getElementById("searchArtists");
        if (searchArtistBtn.addEventListener)
            searchArtistBtn.addEventListener("click", searchArtists, false);
        else if (el.attachEvent)
            searchArtistBtn.attachEvent('onclick', searchArtists);

        function toggle() {
            player.togglePlay().then(() => {
                console.log('Toggled playback!');
            });
        }

        function searchAlbums() {
            spotifyAlbumSearch(document.getElementById('searchInput').value)
        }

        function searchArtists() {
            spotifyArtistSearch(document.getElementById('searchInput').value)
        }
    }

    // Play a specified track on the Web Playback SDK's device ID
    function play(device_id) {
        $.ajax({
            url: "https://api.spotify.com/v1/me/player/play?device_id=" + device_id,
            type: "PUT",
            data: '{"uris": ["spotify:track:4YLXjoYmRGIXstTLtloHf2"]}',
            beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'Bearer ' + _token); },
            success: function (data) {
                console.log(data)
            }
        });
    }

    var resultsArray = [];
    var dataResults = "";
    var searchURL = "https://api.spotify.com/v1/search?q=";
    var table = document.getElementById("resultsTable");
    //var songIndexNum = 0;

    function spotifyAlbumSearch(term) {

        for (i = 0; i < 20; i++) {
            $("#resultsTable tr").remove();
        }

        term = term.replace(" ", "+");
        $.ajax({
            url: searchURL + term + "&type=album&market=US",
            type: "GET",
            beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'Bearer ' + _token); },
            success: function (data) {

                console.log(data);
                for (var albumData in data) {

                    var albumItemList = [];
                    var albums = data[albumData];
                    
                    for (var item in albums) {
                        albumItemList.push(albums[item]);
                    }

                    var index = 0;

                    var results = albumItemList[1];
                    console.log(results);
                    if (results.length >= 20) {
                        $.each(results, function (key, val) {
                            var row = table.insertRow();
                            index += 1
                            row.innerHTML = '<h3>' + index + '</h3><iframe src="https://open.spotify.com/embed/album/' + val.id + '" width="300" height="300" frameborder="2" allowtransparency="true" allow="encrypted-media"></iframe>'
                        });
                    } else if (results.length >= 1 && results.length < 20) {
                        $.each(results, function (key, val) {

                            //test case -- John Maus
                            var artistItemList = [];
                            var artistData = val.artists;
                            for (var item in artistData) {
                                artistItemList.push(artistData[item[0]].name);
                            }
                            console.log(artistItemList);


                            var row = table.insertRow();
                            index += 1
                            row.innerHTML = '<h3>' + index + '. ' + val.name + '</h3><iframe src="https://open.spotify.com/embed/album/' + val.id + '" width="300" height="300" frameborder="2" allowtransparency="true" allow="encrypted-media"></iframe>'
                        });
                        var row = table.insertRow();
                        row.innerHTML = "No more results...";
                        return;
                    } else {
                        var row = table.insertRow();
                        row.innerHTML = "No results...";
                    }
                    
                };
            }
        });
    }

    function spotifyArtistSearch(artist) {
        for (i = 0; i < 20; i++) {
            $("#resultsTable tr").remove();
        }

        artist = artist.replace(" ", "+");
        $.ajax({
            url: searchURL + artist + "&type=artist&market=US",
            type: "GET",
            beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'Bearer ' + _token); },
            success: function (data) {

                console.log(data);
                for (var artistData in data) {

                    var artistItemList = [];
                    var artists = data[artistData];

                    for (var item in artists) {
                        artistItemList.push(artists[item]);
                    }

                    var index = 0;

                    var results = artistItemList[1];
                    console.log(results);
                    if (results.length >= 20) {
                        $.each(results, function (key, val) {
                            var row = table.insertRow();
                            index += 1
                            row.innerHTML = '<h3>' + index + '. ' + val.name + '</h3>'
                        });
                    } else if (results.length >= 1 && results.length < 20) {
                        $.each(results, function (key, val) {
                            var row = table.insertRow();
                            index += 1
                            row.innerHTML = '<h3>' + index + '. ' + val.name + '</h3>'
                        });
                        var row = table.insertRow();
                        row.innerHTML = "No more results...";
                        return;
                    } else {
                        var row = table.insertRow();
                        row.innerHTML = "No results...";
                    }

                };
            }
        });
    }

    function spotifyTrackSearch(term) {

    }
   

</script>