<!DOCTYPE html>
@{
    ViewBag.Title = "Home Page";
}

<html>
<body class="container">

    @{
        @Html.Hidden("featuredTrack", Session["featuredTrack"])
    }
    <center>
        <div class="jumbotron">
            <h2>Featured Track</h2>
            <p id="trackSpace"></p>
        </div>
    </center>
    
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        var trackSpace = document.getElementById("trackSpace");
        var trackVal = $("#featuredTrack").val();
        trackSpace.innerHTML = '</h3><iframe src="https://open.spotify.com/embed/track/' + trackVal + '" width="600" height="400" frameborder="10" allowtransparency="true" allow="encrypted-media"></iframe><br/>'
    </script>

</body>
</html>

