
<div class="jumbotron">
    <h1>
        Thank you for your purchase.
    </h1>
    <br />
    <h3>
        You will be redirected shortly...
    </h3>
</div>

<script>
    setTimeout(redirect, 6000)

    function redirect() {
        window.location.href = "http://localhost:53881/Profile";
    }
</script>